/* tablet */

@media screen and (min-width: 481px) and (max-width: 768px){

  .cat_wrap {
    width: 80%;}
  .cat_li {
    margin-right: 1.953125vw;
    width: 19.53125vw; height: 10.41666666666667vw;}

} /* sub_menu */