/*mobile*/

@media screen and (max-width: 480px){

.cam_wrap {
  padding: 100px 0 200px 0;}

.cl div {
  height: 200px;}
.cl:nth-child(1) div {
  background-size: 480px;}
.cl:nth-child(2) div {
  background-position: center;
  background-size: 480px;}

} /*== campaignBox*/