/*bestBox.css*/ 

#bestBox {
  padding-top: 16rem;
  padding-bottom: 20rem;
  margin: 0 auto;
  width: 100%; height: auto;
  max-width: 1920px;}
.best_wrap {
  width: 100%;}
.best_wrap h2 {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 10rem;
  font-size: 1.5rem;
  text-align: center;
  width: 7%; height: 40px;}
.best_wrap>ul {
  width: 100%; height: 90%;}

.best_list:last-child {
  margin-bottom: 0;}
.best_list>a {
  display: block;
  width: auto; height: auto;}

.best_list div {
  margin: auto;
  transition: all 500ms ease;
  background-position: center;
  background-repeat: no-repeat;}

.best_list:nth-child(1) div {
  background-image: url(../../../../img/best_sneakers.jpg);}
.best_list:nth-child(1) div:hover, 
.best_list:nth-child(1) div:focus {
  background-image: url(../../../../img/best_sneakers_2.jpg);}

.best_list:nth-child(2) div {
  background-image: url(../../../../img/best_pen.jpg);}
.best_list:nth-child(2) div:hover, 
.best_list:nth-child(2) div:focus {
  background-image: url(../../../../img/best_pen_2.jpg);}

.best_list:nth-child(3) div {
  background-image: url(../../../../img/best_shirt.jpg);}
.best_list:nth-child(3) div:hover, 
.best_list:nth-child(3) div:focus {
  background-image: url(../../../../img/best_shirt_2.jpg);}

.best_list:nth-child(4) div {
  background-image: url(../../../../img/best_cd.jpg);}
.best_list:nth-child(4) div:hover, 
.best_list:nth-child(4) div:focus {
  background-image: url(../../../../img/best_cd_2.jpg);}

.color { /*색상 속성*/
  height: 15px;
  margin: 0 auto;
  margin-top: 15px;}
.color>li {
  float: left;
  margin: 0 1.25px;
  width: 10px; height: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;}

.bl { /*전체 dl 속성*/
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  width: 100%; height: 85px;}
.bl>dt, .bl>dd {
  width: auto; height: auto;}
.bl>dt {
  font-size: 1rem;}
.bl>dd:first-of-type{
  font-weight: bold;
  font-size: 0.9rem;}

/*color 속성 blc_1*/
.blc_1 {
  width: 75px;}
.blc_1>li:nth-child(1){
  background-color: #000;}
.blc_1>li:nth-child(2){
  background-color: #474b54;}
.blc_1>li:nth-child(3){
  background-color: #ddd;}
.blc_1>li:nth-child(4){
  background-color: #93192e;}
.blc_1>li:nth-child(5){
  border: 1px solid #bbb;
  background-color: #fff;}

/*color 속성 blc_2*/
.blc_2{
  width: 30px;}
.blc_2>li:nth-child(1){
  background-color: #000;}
.blc_2>li:nth-child(2){
  border: 1px solid #bbb;
  background-color: #fff;}

/*color 속성 blc_3*/
.blc_3 {
  width: 58px;}
.blc_3>li:nth-child(1){
  background-color: #000;}
.blc_3>li:nth-child(2){
  background-color: #caa767;}
.blc_3>li:nth-child(3){
  background-color: #827c7e;}
.blc_3>li:nth-child(4){
  border: 1px solid #bbb;
  background-color: #fff;}

/*color 속성 blc_4*/
.blc_4 {
  width: 15px;}
.blc_4>li{
  background-color: #000;}

  