/* mobile */

@media screen and (max-width: 480px){

.good_wrap {
  box-sizing: border-box;
  padding-top: 15%;}

.good_li{ /*전체 li 속성*/
  margin-bottom: 15%;
  width: 100%;}
.good_li div {
  width: 58.33333333333333vw; height: 58.33333333333333vw;
  background-size: 57vw;}


}