/* pc */

@media screen and (min-width: 769px) and (max-width: 1366px) {

.good_wrap>ul {
  height: auto;}

.good_li{ /*전체 li 속성*/
  float: left;
  width: 25%; height: 50%;}
.good_li div {
  width: 90%; height: 230px;
  background-size: contain;}


}