/*mobile*/

@media screen and (max-width: 480px){

.foot_wrap{
  padding-top: 50px;
  padding-bottom: 30px;}

.foot_wrap>h2 {
  width: 120px;}

.sns_icon {
  width: 145px;}

.sns_icon>li>a {
  width: 35px; height: 35px;}

.foot_wrap>p {
  margin-bottom: 20px;
  font-size: 12px;
  width: 71%;}

} /*==footBox*/