/*pc*/

@media screen and (min-width: 769px) and (max-width: 1366px){

.cl {
  float: left;
  margin-bottom: 5%;}

.cl:nth-child(1)>h3 {
  text-align: right;}

.cl div {
  height: 400px;}
.cl:nth-child(1) div {
  background-position: right;
  background-size: 1000px;}
.cl:nth-child(2) div {
  background-size: 1000px;}

} /*== campaignBox*/