/* categoryBox */

#categoryBox {
  width: 100%; height: auto;}
.cat_wrap{
  margin: auto;
  width: 90%; height: auto;
  max-width: 1920px;}
.cat_wrap h2 {
  margin: 10% 5% 5% 5%; font-size: 1.2rem;
  height: 40px;}
.cat_wrap ul {
  width: 100%; height: auto;}

.cat_li {
  float: left;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 5%;}
.cat_li a {
  display: block;
  width: 100%; height: 100%;}

.cat_li div {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  width: 50%; height: 90%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;}
.cat_li:nth-child(1) div{
  background-image: url(../../../../img/cat_fab.jpg);}
.cat_li:nth-child(2) div{
  background-image: url(../../../../img/cat_furniture.jpg);}
.cat_li:nth-child(3) div{
  background-image: url(../../../../img/cat_kitchen.jpg);}
.cat_li:nth-child(4) div{
  background-image: url(../../../../img/cat_aroma.jpg);}
.cat_li:nth-child(5) div{
  background-image: url(../../../../img/cat_cos.jpg);}
.cat_li:nth-child(6) div{
  background-image: url(../../../../img/cat_eltrnc.jpg);}
.cat_li:nth-child(7) div{
  background-image: url(../../../../img/cat_note.jpg);}
.cat_li span {
  float: right;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: center;
  font-size: 14px;
  width: 45%; height: 100%;}
