/*pc*/

@media screen and (min-width: 769px) and (max-width: 1366px) {

.new_wrap>ul {
  width: 100%; height: auto;}

.new_list{ /*전체 li 속성*/
  float: left;
  width: 25%; height: 50%;}
.new_list>a {
  display: block;
  width: 100%; height: auto;}
.new_list div {
  margin: auto;
  width: 90%; height: 230px;
  background-size: contain;}


} /*=============media*/