/* snsBox.css */

#snsBox {
  padding-top: 20rem;
  width: 100%; height: auto;}
.sns_wrap {
  margin: auto;
  overflow: hidden;
  width: 100%; height: auto;}
.sns_wrap>ul {
  margin: 0 auto;
  overflow: hidden;
  width: 100%; height: 100%;}
.sns_wrap>ul>li {
  float: left;
  width: 350px; height: 350px;}
.sns_wrap>ul>li>a {
  display: block;
  width: 100%; height: 100%;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;}

#snsBox>h2{
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 10rem;
  font-size: 1.5rem;
  text-align: center;
  width: 20%; height: 40px;}

/*사진*/
.sns_li_1 a {
  background-image: url(../../../../img/insta.jpg);}
.sns_li_2 a {
  background-image: url(../../../../img/insta_2.jpg);}
.sns_li_3 a {
  background-image: url(../../../../img/insta_3.jpg);}
.sns_li_4 a {
  background-image: url(../../../../img/insta_4.jpg);}
.sns_li_5 a {
  background-image: url(../../../../img/insta_5.jpg);}
.sns_li_6 a {
  background-image: url(../../../../img/insta_6.jpg);}
.sns_li_7 a {
  background-image: url(../../../../img/insta_7.jpg);}
.sns_li_8 a {
  background-image: url(../../../../img/insta_8.jpg);}
.sns_li_9 a {
  background-image: url(../../../../img/insta_9.jpg);}
.sns_li_10 a {
  background-image: url(../../../../img/insta_10.jpg);}