/* snsBox.css */

#snsBox {
  padding-top: 20rem;
  padding-bottom: 20rem;
  width: 100%; height: auto;
  max-width: 1920px;}

.sns_wrap>ul {
  margin: 0 auto;
  overflow: hidden;
  width: 100%; height: 100%;}
.sns_wrap>ul>li {
  float: left;}
.sns_wrap>ul>li>a {
  display: block;
  width: 100%; height: 100%;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;}

#snsBox>h2{
  margin: auto;
  padding-bottom: 5rem;
  text-align: center;
  font-size: 2rem;
  width: auto; height: 40px;}

/*사진*/
.sns_wrap>ul>li:nth-child(1)>a {
  background-image: url(../../../../img/insta.jpg);}
.sns_wrap>ul>li:nth-child(2)>a {
  background-image: url(../../../../img/insta_2.jpg);}
.sns_wrap>ul>li:nth-child(3)>a {
  background-image: url(../../../../img/insta_3.jpg);}
.sns_wrap>ul>li:nth-child(4)>a {
  background-image: url(../../../../img/insta_4.jpg);}
.sns_wrap>ul>li:nth-child(5)>a {
  background-image: url(../../../../img/insta_5.jpg);}
/*.sns_wrap>ul>li:nth-child(6)>a {
  background-image: url(../../../../img/insta_6.jpg);}
.sns_wrap>ul>li:nth-child(7)>a {
  background-image: url(../../../../img/insta_7.jpg);}
.sns_wrap>ul>li:nth-child(8)>a {
  background-image: url(../../../../img/insta_8.jpg);}
.sns_wrap>ul>li:nth-child(9)>a {
  background-image: url(../../../../img/insta_9.jpg);}
.sns_wrap>ul>li:nth-child(10)>a {
  background-image: url(../../../../img/insta_10.jpg);}