/* mobile */

@media screen and (max-width: 480px){

	.cat_wrap h2 {
		margin: 20% 10% 5% 10%;}

  .cat_li {
    margin-bottom: 40px;
    width: 47%; height: 105px;}
  .cat_li:nth-child(2n) {
    float: right;
    margin-right: 0;}
  .cat_li span {
    box-sizing: border-box;
    padding-top: 35px;}

}