/* tablet */

@media screen and (min-width: 481px) and (max-width: 768px){

	.cat_wrap h2 {
		margin: 20% 10% 5% 10%;}

  .cat_li {
    margin-bottom: 30px;
    margin-right: 5%;
    width: 30%; height: 130px;}
  .cat_li:nth-child(3n) {
    float: right;
    margin-right: 0;}
  .cat_li span {
    box-sizing: border-box;
    padding-top: 45px;}
}