/* mobile */

@media screen and (max-width: 480px) {

#eventBox {
  height: 270px;
  background-image: url(../../../../../img/eventBox_bg_2.jpg);
  background-size: 768px 270px;}

} /* eventBox.css */