/*campaignBox.css*/

#campaignBox {
  margin: 0 auto;
  width: 100%; height: auto;}

.cam_wrap {
  padding: 200px 0; 
  width: 100%; height: auto;}
.cam_wrap>ul {
  margin: auto;
  width: 90%; height: auto;}

.cl {
  margin-bottom: 15%;
  width: 100%; height: 100%;}
.cl:last-child {
  margin-bottom: 0;}

.cl>h3 {
  box-sizing: border-box; padding: 10px;
  width: 100%; height: auto;}

.cl div {
  width: 100%; }
.cl:nth-child(1) div {
  background-image: url(../../../../img/skin_2.jpg);
  background-position: center;
  background-repeat: no-repeat;}
.cl:nth-child(2) div {
  background-image: url(../../../../img/women02.jpg);
  background-repeat: no-repeat;}
  