/*adBox.css*/

#adBox {
  overflow: hidden;
  width: 100%; height: auto;}
#ad_wrap {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%; height: auto;
  max-width: 1920px;}

#adBox h2 {
  position: absolute;
  top: 30%; left: 10%;
  width: 600px; height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../../../../img/logo_muji_w.png);}

#adBox ul {
  width: 100%; height: auto;}
#adBox li {
  float: left;
  width: 25rem; height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;}
.banner_1 {
  background-image: url(../../../../img/ad_1.jpg);}
.banner_2 {
  background-image: url(../../../../img/ad_2.jpg);}
.banner_3 {
  background-image: url(../../../../img/ad_3.jpg);}
.banner_4 {
  background-image: url(../../../../img/ad_4.jpg);}
.banner_5 {
  background-image: url(../../../../img/ad_5.jpg);}
.banner_6 {
  background-image: url(../../../../img/ad_6.jpg);}
.banner_7 {
  background-image: url(../../../../img/ad_7.jpg);}
.banner_8 {
  background-image: url(../../../../img/ad_8.jpg);}
.banner_9 {
  background-image: url(../../../../img/ad_9.jpg);}
