/*tablet*/

@media screen and (min-width: 481px) and (max-width: 768px) {

.new_wrap {
  box-sizing: border-box;
  padding-top: 10%;}

.new_wrap>ul {
  margin-top: 10%;
  width: 100%; height: 90%;}

.new_list{ /*전체 li 속성*/
  float: left; 
  margin-bottom: 15%;
  width: 50%;}
.new_list>a {
  width: inherit; height: inherit;}
/*.new_list:hover, .new_list:focus {background-color: #faa;}*/
.new_list div {
  margin: auto;
  /*width: 70%; height: 70%;*/
  width: 36.45833333333333vw; height: 36.45833333333333vw;
  background-size: 37vw;
  }


} /*=============media