/* pc */

@media screen and (min-width: 769px) and (max-width: 1366px){
/* ====이미지 영역==== */
#img_wrap ul {
  width: 100%; height: auto;
  background-color: #7d1;}

.con {
  float: left;
  margin: 5px;
  width: 170px; height: 170px;
  background-color: #ff5;}
.con_1 {
  width: 90%; height: 350px;
  background-color: #dd8;}

/* ====컨텐츠 영역==== */
.info {
  width: 100%; height: 500px;
  background-color: #daa;}

.path {
  width: 100%; height: auto;
  background-color: #33d;}
.path li {
  float: left;
  background-color: #faf;}

.price {
  text-align: center;
  width: 100%; height: 250px;}
  
}